<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/padrao/LayoutPadrao">
<head>
<title>Cadastro de Contato</title>
</head>
<section layout:fragment="content">
	<form class="form-horizontal" method="POST" action="/agendas">
		<div class="alert alert-success"
			th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}">Contato cadastrado com sucesso!</span>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-title-panel">Novo Contato</h1>
					<a class="btn-link aw-link-panel" href="/agendas">Contatos</a>
				</div>
			</div>

			<div class="panel-body">
				<div class="form-group">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nome" name="nome" />
					</div>
					<label for="email" class="col-sm-1 control-label">Email</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="email" name="email" />
					</div>
				</div>

				<div class="form-group">
					<label for="estado" class="col-sm-2 control-label">Estado</label>
					<div class="col-sm-2">
						<select class="form-control" id="estado" name="estado">
							<option th:each="estado : ${todosOsEstados}" th:value="${estado}"
								th:text="${estado.estado}"></option>
						</select>
					</div>
					<label for="cidade" class="col-sm-3 control-label">Cidade</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="cidade" name="cidade" />
					</div>
				</div>

				<div class="form-group">
					<label for="cep" class="col-sm-2 control-label">Cep</label>
					<div class="col-sm-2">
						<input type="text" class="form-control js-currency" id="cep"
							name="cep" />
					</div>
					<label for="bairro" class="col-sm-3 control-label">Bairro</label>
					<div class="col-sm-3">
						<input type="text" class="form-control js-currency" id="bairro"
							name="bairro" />
					</div>
				</div>

				<div class="form-group">
					<label for="tipoLogradouro" class="col-sm-2 control-label">Tipo
						Logradouro</label>
					<div class="col-sm-2">
						<select class="form-control" id="tipoLogradouro"
							name="tipoLogradouro">
							<option th:each="tipoLogradouro : ${todosTiposLogradouro}"
								th:value="${tipoLogradouro}" th:text="${tipoLogradouro.tipo}"></option>
						</select>
					</div>

				</div>

				<div class="form-group">

					<label for="logradouro" class="col-sm-2 control-label">Endereço</label>
					<div class="col-sm-4">
						<input type="text" class="form-control js-currency"
							id="logradouro" name="logradouro" />
					</div>
					<label for="complemento" class="col-sm-1 control-label">Complemento</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="complemento"
							name="complemento" />
					</div>
				</div>

				<div class="form-group">
					<label for="numero" class="col-sm-2 control-label">Número</label>
					<div class="col-sm-2">
						<input type="text" class="form-control js-currency" id="numero"
							name="numero" />
					</div>
					<label for="telefone" class="col-sm-3 control-label">Telefone</label>
					<div class="col-sm-3">
						<input type="text" class="form-control js-currency" id="telefone"
							name="telefone" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>

			</div>
		</div>
	</form>
</section>
</html>