<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

 <div class="sidebar-nav">
    <div class="well" style="width:300px; padding: 8px 0;">
		<ul class="nav nav-list"> 
		  <li><a href="/agendas/novo"><i class="glyphicon glyphicon-home"></i> Novo contato</a></li>
		  <li class="active"><a href="/agendas"><i class="glyphicon glyphicon-th-list"></i>  Lista de contatos</a></li>
          <li class="divider"></li>
		  <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
		</ul>
	</div>
</div>
</ui:composition>